<h1>Admin users:</h1>
<table>
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Email</td>
        <td>Admin/Not Admin</td>
    </tr>
    {{#data}}
    <tr>
        <td>{{first_name}}</td>
        <td>{{last_name}}</td>
        <td>{{email}}</td>
        <td>{{admin}}</td>
        <td><a href="/admin/users/{{id}}/edit">Edit</a></td>
    </tr>
    {{/data}}
</table>
