<div class='row main-pic'>
  <div class='col-md-11 col-md-offset-1'>
    <div class="container text-center col-md-10">
        <div class='text-center videobox' style="position: relative;"display": flex; z-index: -99; width: 90%; height: 90%">
          <iframe src="//giphy.com/embed/zwHoN7Ch6c9Nu" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/jerology-cinemagraph-sunset-river-zwHoN7Ch6c9Nu"></a></p>
        </div>
    </div>
  </div>
</div>

<div class="col-md-11 col-md-offset-1">
  <h3>Hey {{name}}</h3>
  {{#errors}}
    <h4 class='danger'>{{this}}</h4>
  {{/errors}}
  {{#msg}}
    <h4 class='msg'>{{this}}</h4>
  {{/msg}}
  <h4>What would you like to do?</h4>
  <h4 class="clickUsers">See all users</h4>
  <div class="users">
    <table>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Admin/Not Admin</th>
      </tr>
      {{#data}}
      <tr>
        <td>{{first_name}}</td>
        <td>{{last_name}}</td>
        <td>{{email}}</td>
        <td>{{admin}}</td>
        <td><a href="/admin/users/{{id}}/edit">Edit</a></td>
      </tr>
      {{/data}}
    </table>
  </div>
  <h4 class="clickItems">See all products</h4>
  <div class="container col-md-offset-1 col-md-12 all items">
  <div class="row">
  {{#items}}
      <div class="thumbnail col-md-3 shadow">
        <img style="height:250px" src="{{this.image_url}}" alt="...">
        <div class="caption text-center">
          <h4>{{this.name}}</h4>
        </div>
      </div>
  {{/items}}
  </div>
  </div>
  <h4 class="clickAdmin">Add new admin</h4>
  <div class="addAdmin">
    <div class="addAdminForm">
      <form action="/admin/new" method="post" >
        <div class="form-group ">
          <label>First Name</label>
          <input class="form-control" type="text" name="first_name" value="">
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input class="form-control" type="texr" name="last_name" value="">
        </div>
        <div class="form-group">
          <label>Email</label>
          <input class="form-control" type="text" name="email" value="">
        </div>
        <div class="form-group">
          <label>password</label>
          <input class="form-control" type="password" name="password" value="">
        </div>
        <div class="form-group">
          <label>confirm password</label>
          <input class="form-control" type="password" name="confirm" value="">
        </div>
        <div class="form-group">
          <label>Admin:</label>
          <select class="form-control" class="" name="admin">
            <option value='true'>true</option>
            <option value='false'>false</option>
          </select>
        </div>
        <div class="form-group">
          <input class="form-control" type="submit"  value="Add Admin">
        </div>
      </form>
    </div>
  </div>
  <h4 class="clickAddProduct">Add new Product</h4>
  <div class="addProduct">
    <div class="addProductFrom">
      <form action="/admin/products/add" method="post">
        <div class="form-group">
          <label>product name</label>
          <input class="form-control" type="text" name="name" value="">
        </div>
        <div class="form-group">
          <label>description</label>
          <input class="form-control" type="text" name="description" value="">
        </div>
        <div class="form-group">
          <label>Image URL</label>
          <input class="form-control" type="text" name="image_url" value="">
        </div>
        <div class="form-group">
          <label>Active?</label>
          <select class="form-control" class="" name="active">
            <option value='true'>true</option>
            <option value='false'>false</option>
          </select>
        </div>
        <div class="form-group">
          <input class="form-control" type="submit" value="Add this item">
        </div>
      </form>
    </div>
  </div>
</div>
