<div class='text-center videobox' style="position: relative;"display": flex; z-index: -99; width: 90%; height: 90%">
  <iframe src="//giphy.com/embed/zwHoN7Ch6c9Nu" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/jerology-cinemagraph-sunset-river-zwHoN7Ch6c9Nu"></a></p>
</div>

<div class="container adminContainer">
<div class="col-md-12  admin">
  {{#errors}}
    <h4 class='danger'>{{this}}</h4>
  {{/errors}}
  {{#msg}}
    <h4 class='msg'>{{this}}</h4>
  {{/msg}}
  <h3>{{name}}, What would you like to do?</h3>

  <button class='btn btn-primary clickUsers'><h4>See All Users</h4></button>
  <button class='btn btn-primary clickItems'><h4>See All Products</h4></button>
  <button class='btn btn-primary clickAdmin'><h4>Add New User</h4></button>
  <button class='btn btn-primary clickAddProduct'><h4>Add New Product</h4></button>

  <div class="users">
    <table>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Admin?</th>
      </tr>
      {{#data}}
      <tr>
        <td>{{first_name}}</td>
        <td>{{last_name}}</td>
        <td>{{email}}</td>
        <td>{{admin}}</td>
        <td><a href="/admin/users/{{id}}/edit">Edit User</a></td>
        <td><a href="/admin/users/{{id}}/delete">Delete User</a></td>
      </tr>
      {{/data}}
    </table>
  </div>

  <div class="container col-md-12 all items">
    <table>
      <tr>
        <th>Image</th>
        <th>Item Name</th>
        <th>Description</th>
        <th>Price</th>
      </tr>
      {{#items}}
      <tr>
        <td><img class='admin-item' src='{{this.image_url}}'</td>
        <td>{{this.name}}</td>
        <td>{{this.description}}</td>
        <td>${{this.price}}</td>
        <td><a class='edit-item' href='#'>Edit Item</a></td>
        <td><a href='/admin/products/{{id}}/delete'>Delete Item</a></td>
      </tr>
      <tr class='hidden-edit'>
        <form action='/admin/products/{{id}}/edit' method='POST'>
          <td><input value='{{image_url}}'></td>
          <td><input value='{{name}}'></td>
          <td><input value='{{description}}'></td>
          <td><input value='{{price}}'</td>
          <td><input type='submit' value='Submit Edits'></td>
        </form>
      </tr>
    {{/items}}
    </table>
  </div>

  <div class="addAdmin">
    <div class="addAdminForm">
      <form action="/admin/new" method="post" >
        <div class="form-group ">
          <label>First Name</label>
          <input class="form-control center-block" type="text" name="first_name" value="">
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input class="form-control center-block" type="texr" name="last_name" value="">
        </div>
        <div class="form-group">
          <label>Email</label>
          <input class="form-control center-block" type="text" name="email" value="">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input class="form-control center-block" type="password" name="password" value="">
        </div>
        <div class="form-group">
          <label>Confirm password</label>
          <input class="form-control center-block" type="password" name="confirm" value="">
        </div>
        <div class="form-group">
          <label>Admin?</label>
          <select class="form-control center-block" class="" name="admin">
            <option value='true'>True</option>
            <option value='false'>False</option>
          </select>
        </div>
        <div class="form-group">
          <input class="form-control center-block btn-success" type="submit"  value="Add Admin">
        </div>
      </form>
    </div>
  </div>

  <div class="addProduct">
    <div class="addProductForm">
      <form action="/admin/products/add" method="post">
        <div class="form-group">
          <label>Product Name</label>
          <input class="form-control center-block" type="text" name="name" value="">
        </div>
        <div class="form-group">
          <label>Description</label>
          <input class="form-control center-block" type="text" name="description" value="">
        </div>
        <div class="form-group">
          <label>Image URL</label>
          <input class="form-control center-block" type="text" name="image_url" value="">
        </div>
        <div class="form-group">
          <label>Active?</label>
          <select class="form-control center-block" class="" name="active">
            <option value='true'>True</option>
            <option value='false'>False</option>
          </select>
        </div>
        <div class="form-group">
          <input class="form-control btn-success center-block" type="submit" value="Add this item">
        </div>
      </form>
    </div>
  </div>
</div>
</div>
