<h1>Edit user {{data.first_name}} {{data.last_name}}</h1>

<form action="/admin/users/{{data.id}}/edit" method="post">
    <label>First Name</label>
    <input type="text" name="first_name" value="{{data.first_name}}">
    <label>Last Name</label>
    <input type="text" name="last_name" value="{{data.last_name}}">
    <label>Email</label>
    <input type="text" name="email" value="{{data.email}}">
    <label>Admin</label>
    <select class="" name="admin">
        <option value='true'>true</option>
        <option value='false'>false</option>
    </select>
    <input type="submit" value="Edit this user">

</form>
