<div class="container">
  <div class="col-md-12">
    <h2 class="cartH2">You have in your cart:</h2>
    {{#if msg}}
      {{msg}}
    {{/if}}
    <table class="cartTable">
      <tr>
        <th>Image</th>
        <th>description</th>
        <th>name</th>
        <th>price</th>
      </tr>
      {{#data}}
      <tr>
        <td><img style="height: 100px;" src="{{this.image_url}}"/></td>
        <td>{{this.description}}</td>
        <td>{{this.name}}</td>
        <td class="price" price-data={{this.price}}>{{this.price}}</td>
        <td><a href="/cart/{{this.item_id}}/delete">Delete this item</a></td>
      </tr>
      {{/data}}
    </table>
    <div class="taxTotal">
      <h4 class="tax"></h4>
      <h3 class="total"></h3>
    </div>
  </div>

  <div class="payment">
    <form action="/cart/payment" method="POST">
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
      data-amount="{{amount}}"
      data-name="Basket"
      data-description="Thank you!"
      data-image=""
      data-locale="auto">
    </script>
  </form>

  </div>

</div>
