<div class="container">
  <div class="col-md-12">
    <h2>You have in your cart:</h2>
    <table class="cartTable">
      <tr>
        <td>Image</td>
        <td>description</td>
        <td>name</td>
        <td>price</td>
        <td>Delete</td>

      </tr>
      {{#data}}
      <tr>
        <td><img style="height: 100px;" src="{{this.image_url}}"/></td>
        <td>{{this.description}}</td>
        <td>{{this.name}}</td>
        <td class="price" price-data={{this.price}}>{{this.price}}</td>
        <td><a href="/cart/{{this.id}}/delete">Delete this item</a></td>
      </tr>
      {{/data}}

    </table>
    <div class="taxTotal">
      <h4 class="tax"></h4>
      <h3 class="total"></h3>
    </div>
  </div>

</div>
