<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container nav-container">

    <ul class="nav nav-pills">

      <li>
        <div class="dropdown cart">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Cart
            <span class="caret"></span>
          </button>
          <table class="dropdown-menu dropdown" aria-labelledby="dropdownMenu1">
            <tr>
              <td>--------------------</td>
            </tr>
            <tr id='total'>
              <td><b>Total:</b></td>
              <td>$total</td>
            </tr>
          </table>
        </div>
      </li>

      {{#if user}}
      {{#if photo}}
      <li role='presentation'><img src="{{photo}}"/></li>
      {{/if}}
      <li role='presentation'><h5>Welcome, {{name}}!</h5></li>
      {{else}}
      <h2><a href='/auth/google'>log in with google</a></h2>
      {{/if}}
      <li role="presentation"><a href="/users/signup">Sign Up</a></li>
      <li role="presentation"><a href="/users/login">Log In</a></li>
      <li role="presentation"><a href="/users/logout">Log out</a></li>
    </ul>


  </div>
</nav>


<div class='row main-pic col-md-12'>
  <div>
    <img class='landing' src='/images/spread.jpg'>
    <header>
      <h1 class='text-center'>gnosh.</h1>
      <h4 class='text-center'>All the snacks you need. Right to your door.</h4>
    </header>
  </div>
</div>


<div class='container2 row col-md-12'>
  <div class='mask mask-left'>
  </div>
    <table >
      <tr class='listing-row'>
        {{#items}}
        <td class='listing'>
          <img class='item-pic' src='{{this.image_url}}'>
          <h2>{{this.name}}</h2>
          <p>${{this.price}}</p>
          <p>{{this.description}}</p>
          <input class='add-to-cart' type='submit' value='Add to Cart'>
        </td>
        {{/items}}
        <!-- <td class='hidden'>{{this.id}}</td> -->
        <!-- <td class='text-center'>{{this.name}}</td>
        <td class='text-center'>${{this.price}}</td>
        <td class='description hide-in-cart'>{{this.description}}</td>
        <td class='hide-in-cart'><input class='add-to-cart' type='submit' value='Add to Cart'></td> -->
      </tr>
    </table>
  <div class='mask mask-right'>
  </div>
</div>
