<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container nav-container">

    <ul class="nav nav-pills">

      <li>
        <div class="dropdown cart">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Cart
            <span class="caret"></span>
          </button>
          <table class="dropdown-menu dropdown" aria-labelledby="dropdownMenu1">
            <tr>
              <td>--------------------</td>
            </tr>
            <tr id='total'>
              <td><b>Total:</b></td>
              <td>$total</td>
            </tr>
          </table>
        </div>
      </li>

      {{#if user}}
        {{#if photo}}
          <li role='presentation'><img src="{{photo}}" /></li>
        {{/if}}
        <li role='presentation'>
          <h5>Welcome, {{name}}!</h5></li>
      {{else}}
        <h2><a href='/auth/google'>log in with google</a></h2>
      {{#if photo}}
      <li><img src="{{photo}}"/></li>
      {{/if}}
      <li><h5>Welcome, {{name}}!</h5></li>
      <li><a class="logout" href="/users/logout">Log out</a></li>
      {{else}}
      {{/if}}
      
      {{#unless user}}
      <li><a href='/auth/google'><img class="google" src="http://i.stack.imgur.com/XzoRm.png" alt="google oauth"/></a></li>
      <li><a class="signup" href="/users/signup">Sign Up</a></li>
      <li><a class="login" href="/users/login">Log In</a></li>
      {{/unless}}
    </ul>


  </div>
</nav>

<div class='mask mask-left'>
</div>
<div class='mask mask-right'>
</div>

<div id='conainer'>
  <div class='row main-pic'>
    <div class='col-md-12'>
      <img class='landing' src='/images/spread.jpg'>
    </div>
  </div>

  <div class='row table-div'>
    <div class='col-md-12'>
      <table>
        <tr class='listing-row'>
          {{#items}}
            <td class='listing'>
              <img class='item-pic' src='{{this.image_url}}'>
              <h2>{{this.name}}</h2>
              <p>${{this.price}}</p>
              <p>{{this.description}}</p>
              <form class="" action="/cart/add/{{this.id}}" method="post">
                <input class='add-to-cart' type='submit' value='Add to Cart'>
              </form>
            </td>
          {{/items}}
        </tr>
      </table>
    </div>
  </div>

</div>
