<div class='row main-pic'>
  {{#if msg}}
  <h2 class="indexMsg">{{msg}}</h2>
  {{/if}}
 <div class='col-md-12'>
   <img class='landing center-block' src='./images/food-kitchen-cutting-board-cooking-large.jpg'>
 </div>
 <h1 class='header'>gnosh.</h1>
 <h4 class='header text-center'>All the snacks you need. <br>Right to your door.</h4>
</div>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" interval="false" wrap='true'>

  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <div class='carousel-inner'>
    <div class="item active">
      <div>
        <img class='first-slide center-block' src="http://www.zillow.com/blog/files/2012/11/Knife-on-cutting-board.jpg" alt="...">
      </div>
      <div class='text-center item-description'>
          <h3>Check Out Our Goodies!</h3>
        <p>All the gnosh</p>
      </div>
    </div>
    {{#items}}
    <div class='item'>
      <div>
        <img class='item-pic center-block form-group' src='{{this.image_url}}'>
      </div>
      <div class='text-center'>
        <h3>{{this.name}}</h3>
        <p>{{this.description}}</p>
        <div>
          <a href="/product/{{id}}"><button class='btn btn-primary'>Details</button></a>
        </div>
      </div>
    </div>
    {{/items}}
  </div>

  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<div class="container">
  <div class="row">
      <div class="main-thumbnail col-md-6">
        <a href='/products'><img class='info center-block' style="height: 300px;" src="http://ec.europa.eu/agriculture/organic/images/standard/ec_organic_189.jpg" alt="cheese"></a>
        <div class="caption">
          <a class='product-link' href="/products"><h3 class='text-center'>Our Baskets</h3></a>
          <p class='text-center'>We take a lot of pride in the quality and source of our products. All our gnosh comes from local farmers and friends who put their hearts and souls into their work. We focus on food that is sustainably grown, organic, and GMO-free, and we put a huge emphasis on building meaningful relationships with the people that provide us with all this awesome food!</p>
        </div>
      </div>
      <div class="main-thumbnail col-md-6">
        <img class='info center-block' style="height: 300px;" src="http://outoftheboxcollective.com/files/Food%20box%20delivery.jpeg" alt="delivery">
        <div class="caption">
          <h3 class='text-center'>Our Story</h3>
          <p class='text-center'>
            "I've always loved snacks -- but I didn't love discovering that most of them were killing me! I'm a victim of modern industrial agriculture and so are you.
            Our mission at GNOSH.com is to protect you from the experience of hangrily walking 12 laps around the grocery store, only to
            leave empty handed and in tears.  Food allergies are real ya'll, don't listen to the haters. We want to keep you satiated and your blood sugar stable
            by delivering a customized GnoshBox to your door. Be prepared, don't be hangry." - Matieu Bouchard, Co-Founder &amp; Gnoshologist</p>
        </div>
      </div>
  </div>
</div>
