<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <ul class="nav nav-pills">
      <li role="presentation"><a href="/users/signup">Sign Up</a></li>
      <li role="presentation"><a href="/users/login">Log In</a></li>
      <li role="presentation"><a href="/users/logout">Log out</a></li>
    </ul>
  </div>
</nav>

{{#if user}}
  {{#if photo}}
    <img src="{{photo}}"/>
  {{/if}}

  <h2>hey {{name}}</h2>
  <br>

  {{else}}
  <h2><a href='/auth/google'>log in with google</a></h2>
{{/if}}

<table>
  <tr>
    <th>Image</th>
    <th class='text-center'>Name</th>
    <th class='text-center'>Price</th>
    <th class='text-center'g>Description</th>
  </tr>
  {{#items}}
  <tr class='listing-row'>
    <td><img class='item-pic' src='{{this.image_url}}'></td>
    <td class='text-center'>{{this.name}}</td>
    <td class='text-center'>${{this.price}}</td>
    <td class='text-center'>{{this.description}}</td>
  </tr>
  {{/items}}
</table>
