<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container nav-container">
    <ul class="nav nav-pills">
      <li>
        <div class="dropdown cart">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Cart
            <span class="caret"></span>
          </button>
          <table class="dropdown-menu dropdown" aria-labelledby="dropdownMenu1">
            <tr>
              <td></td>
            </tr>
            <tr id='total'>
              <td><b>Total:</b></td>
              <td>$total</td>
            </tr>
          </table>
        </div>
      </li>

      <!-- {{#if user}}
      {{#if photo}}
      <li role='presentation'><img src="{{photo}}"/></li>
      {{/if}}
      <li role='presentation'><h5>Welcome, {{name}}!</h5></li>
      {{else}}
      <h2><a href='/auth/google'>log in with google</a></h2>
      {{/if}}
      <li role="presentation"><a href="/users/signup">Sign Up</a></li>
      <li role="presentation"><a href="/users/login">Log In</a></li>
      <li role="presentation"><a href="/users/logout">Log out</a></li> -->

      {{#if user}}
       {{#if photo}}
       <li><img src="{{photo}}"/></li>
       {{/if}}
       <li><h5>Welcome, {{name}}!</h5></li>
       <li><a class="logout" href="/users/logout">Log out</a></li>
       {{/if}}
       {{#unless user}}
       <li><a href='/auth/google'><img class="google" src="http://i.stack.imgur.com/XzoRm.png" alt="google oauth"/></a></li>
       <li><a class="signup" href="/users/signup">Sign Up</a></li>
       <li><a class="login" href="/users/login">Log In</a></li>
      {{/unless}}
    </ul>

  </div>
</nav>


<div class='row main-pic'>

  <div class='col-md-12'>
    <img class='landing center-block' src='https://static.pexels.com/photos/3329/food-kitchen-cutting-board-cooking-large.jpg'>
  </div>

  <h1 class='header'>gnosh.</h1>
  <h4 class='header text-center'>All the snacks you need. <br>Right to your door.</h4>
</div>





<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" interval="false" wrap='true'>
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class='carousel-inner'>
    <div class="item active">
      <div>
        <img class='first-slide center-block' src="http://www.zillow.com/blog/files/2012/11/Knife-on-cutting-board.jpg" alt="...">
      </div>
      <div class='text-center item-description'>
      	<h3>Check Out Our Goodies!</h3>
        <p>All the gnosh</p>
      </div>
    </div>
    {{#items}}
    <div class='item'>
      <div>
        <img class='item-pic center-block form-control form-group' src='{{this.image_url}}'>
      </div>
      <div class='text-center'>
        <h3>{{this.name}}</h3>
        <p>{{this.description}}</p>
        <div>
          <form class="" action="/cart/add/{{this.id}}" method="post">
            <input class='add-to-cart' type='submit' value='Add to Cart'>
          </form>
        </div>
      </div>
    </div>
    {{/items}}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->

<button>
