<div class='container'>
  <div class="all">
    <div class="col-md-12 row">
    {{#items}}
        <div class="thumbnail center-block col-md-4">
          <img style="height:300px; width: 300px" src="{{this.image_url}}" alt="...">
          <div class="caption">
            <h4 class='text-center'>{{this.name}}</h4>
          </div>
          <a class='center-block text-center' href="/product/{{id}}"><button class="btn btn-default"type="button" >Product Details</button></a>
        </div>
      {{/items}}
     </div>
    </div>
  </div>
</div>
<!-- Modal -->


<!-- Default bootstrap modal example -->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
          {{#item}}
          <p>
              {{name}}
              {{description}}

          </p>

          {{/item}}
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
</div>
