



<div class="productConatainer text-center">
{{#item}}
<img class="productView" src="{{image_url}}" alt="{{name}}" />
        <h1> {{name}}</h1>
        <h3>Description</h3>
        <h4>{{description}}</h4>
        <p>${{price}}</p>
        <form class="" action="/cart/add/{{id}}" method="post">
          <input class="btn btn-defualt" type="submit" value="Add to Cart"></input>
        </form>
{{/item}}
</div>
